.clear {
	clear: both;
}

#page-wrap h1 {
	width: auto;
	margin: 0 0 2% 0;
	padding: 0 0 2% 0;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#page-wrap .likeh2 {
	font-size: 20px;
	margin: 0 0 6px 0;
}
#page-wrap .likeh2 span {
	margin: 5px 0 0.75% 0;
	text-align: center;
	float: right;
	bottom: 0;
	right: 0;
	font-style: italic;
	font-family: Georgia, Serif;
	font-size: 14px;
	color: #999;
	font-weight: normal;
}
.gambi {
	float: right;
	bottom: 0;
	right: 0;
	font-style: italic;
	font-family: Georgia, Serif;
	font-size: 14px;
	color: #999;
	font-weight: normal;
}
.expposition {
	font-style: italic;
	font-family: Georgia, Serif;
	font-size: 14px;
	color: #999;
	font-weight: normal;
}


dt { font-style: italic;
		font-weight: bold;
		padding: 0 3.25% 0 0;
		width: 18%;
	text-align: right;
	padding: 0 26px 0 0;
	float: left;
 }
dd { width: 90%;
		float: right;
}
dd p{font-size: 16px}
dd.clear { float: none;
		margin: 0;
	height: 15px;
	}

ul.double{
	-moz-column-count: 2;
    /*-moz-column-gap: 20px;*/
    -webkit-column-count: 2;
    /*-webkit-column-gap: 20px;*/
    column-count: 2;
    /*column-gap: 20px;*/
}

ul.triple{
	-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

ul.quad{
-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
ul.five{
-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
ul.six{
-moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
}

@media (min-width: 768px) {
  	dt {
		height: 100px;
		border-right: 1px solid #999;
	}

	dd { width: 74%};

	ul.double{
		-moz-column-count: 2;
	    /*-moz-column-gap: 20px;*/
	    -webkit-column-count: 2;
	    /*-webkit-column-gap: 20px;*/
	    column-count: 2;
	    /*column-gap: 20px;*/
	}

	ul.triple{
		-moz-column-count: 3;
	    -webkit-column-count: 3;
	    column-count: 3;
	}

	ul.quad{
	-moz-column-count: 4;
	    -webkit-column-count: 4;
	    column-count: 4;
	}
	ul.five{
	-moz-column-count: 5;
	    -webkit-column-count: 5;
	    column-count: 5;
	}
	ul.six{
	-moz-column-count: 6;
	    -webkit-column-count: 6;
	    column-count: 6;
	}
}